* {
  margin: 0;
  padding: 0;
  background-color: #b8e6c8;
  color: #4f782f;
}
.app_div {
  padding: 0 100px;
}
.nav_elem {
  display: flex;
  padding: 20px 0 ;
  flex-wrap: nowrap;
  font-family: "Tilt Neon", sans-serif;
  align-items: center;
}
.menu_items {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.nav_elem a {
  text-decoration: none;
  color: #c78b62;
}
.nav_elem a.active {
  text-decoration: none;
  color: #df7630;
}
.button_items {
  display: flex;
  gap: 20px;
  align-items: center;
}
.button {
  padding: 7px 20px;
  color: white;
  border-radius: 5px;
  border: none;
}
.button:hover{
  cursor:pointer;
}
.button_green{
  background-color: #4f782f;
  color: white;
}
.button_red{
  border: 2px solid #c78b62; 
  color: #4f782f;
}
.hamburger{
  display: none;
}
@media only screen and (max-width: 768px) {
  
  @media only screen and (max-width: 768px) {
    .app_div {
      padding: 0 20px;
    }
    .hamburger{
      display: block;
      cursor: pointer;
    }
    .menu_items {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      width: 100%;
      padding: 30px 0;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .nav_elem{
      justify-content: space-between;
    }
  .res-menu{
    background-color: #fff;
  }
    .menu-open .menu_items {
      display: flex;
    }
  
    .menu_items a {
      background-color: white;

    }
    .main_div {
      flex-direction: column;
    }
    #mbl {
      display: none;
    }
    .sub-title{
      text-align: center;
      justify-content: center;
    }
  
  }
}

.main_div {
  display: flex;
}

.home_first_col {
  flex-basis: 60%;
  padding: 0 50px 0 0;
  margin: auto;
}

.home_second_col {
  flex-basis: 30%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.sub-title {
  font-family: "Tilt Neon", sans-serif;
  color: #c78b62;
  margin: 0 0 10px; 
  letter-spacing: 0.3rem;
}

.title-phrase {
  margin: 0 0 20px; 
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.home_first_col p {
  padding: 20px 0;
  font-family: "Tilt Neon", sans-serif;
}

.loading,
.error {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #c78b62; 
}

.plants-container {
  padding: 2%;
  border-radius: 10px;border: 2px solid #4f782f;
  box-shadow:  #1a1a1a5b 0px 0px 10px 0px;
}


.cards {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.card {
  border: 1px solid #ccc; 
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out; 
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}

.card_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; 
}
h4{
  margin: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: 3% auto;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  border: 2px solid #4f782f;
  box-shadow:  #1a1a1a5b 0px 0px 10px 0px;
}

.about-title {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.about-text {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.4;
  color:#4f782f;
}

.about-description {
  flex-basis: 50%;
  margin: 20px;
}

.about-image-container {
  flex-basis: 50%;
  text-align: center;
}

.about-image {
  max-width: 100%;
  height: 50vh;
  margin: 50px auto;
  border-radius: 8px;
}

.signin_box {
  max-width: 400px;
  margin: 5% auto;
  padding: 5%;
  border: 2px solid #4f782f;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin_box__form form {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
input {
  flex-basis: 95%;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.iconinput{
  display: flex;
  align-items: center;
  background-color: white;
  margin: 2%;
}
.signinicon{
  flex-basis:5%;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.signin_box__form button{
  padding: 3%;
  font-size: 16px;
  background-color: #4f782f;
  border: none;
  border-radius: 4px;
  width: 100%;
  color: white;
  margin-top: 5%;
}
.signin-title{
  font-size: 2rem;
  font-weight: bold;
  font-family: "Tilt Neon", sans-serif;
  margin-bottom: 2%;
  text-align: center;
}

